.nav {
    background-color: #333;
    color: #fff;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .nav-list li {
    margin: 10px;
  }
  
  .nav-list li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style the welcome section */
  .welcome-section {
    text-align: center;
    padding: 50px;
    height: 100vh;
  }
  
  .welcome-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .welcome-section p {
    font-size: 18px;
    color: #888;
    
  }

  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
    }
  
    .nav-list li {
      margin: 10px 0;
    }
  
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  